<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2 class="my-2">
                    About Me
                </h2>
                <img src="../../assets/test-profile.jpg" alt="Profile" width="256" height="256" class="rounded-circle my-2">
                <p class="my-2 text-start">Persuasive, influential, multi-lingual, results-oriented,
                    outgoing, and charismatic individual. Open to various opportunities in
                    technology or any other sector. I consider myself highly responsible and
                    tolerant. Eager to gain extensive knowledge and develop a successful career</p>
            </div>
        </div>
        <!-- Featured project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2 class="my-2">Featured Projects</h2>
            </div>
        </div>
    </div>
</div>