<div class="container" >
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>I can be reached at the following email: <b>roshko.boh@gmail.com</b></p>
        <div class="mb-2">
            <a href="https://www.linkedin.com/in/bohdan-roshko-1ba6b6183/" target="_blank">
                <img src="assets/linkedin.png" class="me-2" width="28" height="28" alt="linkedin">
            </a>
            <a href="https://github.com/BohdanRoshko" target="_blank">
                <img src="assets/github.png" class="me-2" width="28" height="28" alt="linkedin">
            </a>
        </div>
    </div>
</div>