<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Bohdan Roshko</h1>
        <h3>Fullstack Developer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
            <a href="https://www.linkedin.com/in/bohdan-roshko-1ba6b6183/" target="_blank">
                <img src="assets/linkedin.png" class="me-2" width="28" height="28" alt="linkedin">
            </a>
            <a href="https://github.com/BohdanRoshko" target="_blank">
                <img src="assets/github.png" class="me-2" width="28" height="28" alt="linkedin">
            </a>
    </div>
</div>